---
// src/components/Header.astro
---

<header>
  <div class="container">
    <nav>
      <div class="logo">Dolce Vita</div>
      <ul class="nav-links" :class="{ 'active': mobileMenuOpen }">
        <li><a href="#home" @click="mobileMenuOpen = false">Home</a></li>
        <li><a href="#storia" @click="mobileMenuOpen = false">Storia</a></li>
        <li><a href="#products" @click="mobileMenuOpen = false">Prodotti</a></li>
        <li><a href="#contact" @click="mobileMenuOpen = false">Contatti</a></li>
      </ul>
      <button class="mobile-menu-btn" @click="mobileMenuOpen = !mobileMenuOpen">
        <i class="fas" :class="{ 'fa-bars': !mobileMenuOpen, 'fa-times': mobileMenuOpen }"></i>
      </button>
    </nav>
  </div>
</header>